/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
    font-family: 'AmericanTypewriter', Cambria, Georgia;
}

.table {
    background-color: #fff;
}
.jumbotron {
	background-color: $brand-primary;
	color: white;
	&.mini {
	padding: 1em 2em;
	}
}

.navbar-default .navbar-nav > li > a {
    &.btn {
    color: #fff;
    }
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: $gray-lighter;
    &.btn-default {
    color: $brand-primary;
    font-weight: bold;
    }
}

/* 
#landing and .paper adapted from code copied on 22 Mar 2018 from jsfiddle credited to Zach Reed
Source site: https://coderwall.com/p/fw_b4q/notebook-paper-css;
Zach Reed profile included: https://coderwall.com/bluetidepro;
*/

#landing {
    font: 16px 'AmericanTypewriter', Cambria, Georgia; 
    color: #282625; 
    margin: 0 auto; 
    width: 100%;
}

.paper {
    padding: 0px 55px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
    min-height: 100vh;
}

/*.paper::before {content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}*/
.paper::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}
